/**
 * $GRID
 * ==========================================================================
 */

.container {
    box-sizing: content-box;
	max-width: $container-width;
	margin: 0 auto;
    padding: 0 $spacing-unit-grid;

    .mobile{
        display: none;
    }

    @include media-query(portable){
        width: $portable-start;
    }
    @include media-query(palm){
        width: $palm-start;
    }

    a{
        color: $border-gold;
    }
}

.grid {
    display: block;
    margin: 0 auto;
    font-size: 0;
    margin-left: -$spacing-unit-grid;

    .grid {
    	padding: 0;
    }

    &.grid--gutterless {
        padding-left: 10px;
        margin-left: 0;

        .grid__item {
            padding: 0;
        }
    }
}
    .grid__item {
        display: inline-block;
        font-size: 1rem;
        margin: 0;
        padding-left: $spacing-unit-grid;
        text-align: left;
        vertical-align: top;
    }
    
    .grid--block {
        margin-bottom: $spacing-unit-grid;
    }



/* UNBROKEN GRID EXTENDS - J.KIPKER */

.container{
    padding: 0;

    /*temporary*/
    height: auto;

    @include media-query(portable){
        // width: 100%;
    }
}

.nav-pillar{
    float: left;
    vertical-align: top;
    width: 330px;
    height: 100%;
    min-height: 870px;
    background-repeat: no-repeat;
}

.content-pillar{
    float: left;
    vertical-align: top;
    width: 100%;
    height: 100%;

    .column{
        float: left;
        width: 33.33%;
        height: 100%;
        min-height: 870px;
    }
}

.clear-fix{
    clear: both;
}








