/**
 * $NAVBAR
 * ==========================================================================
 * This is the main navbar shown at the top of the page.
 */
 .nav-pillar {

 	.social-audio{
 		margin-top: 14px;
 		height: 28px;

 		div{ 
 			display: inline-block; 
 			vertical-align: top; 
 		}

 		.twitter{
 			margin-left: 20px;
 			margin-right: 5px;
 		}

 		.fb{
 			margin-top: -4px;
 		}
 		.audio-ctrl{
 			float: right;
 			margin-right: 20px;
 		}
 	}

 	.logo-lockup{
 		position: relative;
		display: inline-block;
		margin-top: 40px;
		text-align: center;
		width: 100%;
 	}

 	.nav-box{
 		border-top: 2px $border-gray solid;
 		border-bottom: 2px $border-gray solid;
 		width: 100%;
 		margin-top: 20px;
 		background-color: rgb(136, 136, 136);
 		background-color: rgba(136, 136, 136, 0.2);


 		ul, li{
 			list-style-type: none;
 			margin: 0;
 			padding: 0;
 			text-align: center;
 		}

 		ul{
 			padding: 20px 30px;
 		}

 		li{
 			padding: 8px 0px;
 			border-bottom: 1px $border-gray solid;
 		}

 		li:last-child{
 			border: none;
 		}

 		a{
 			color: black;
 			font-size: 16px;
 			font-weight: bold;
 			letter-spacing: 0.2em;
 		}

 		a:hover{
 			text-decoration: underline;
 		}
 	}

 	.nav-slider{
 		margin: 20px auto;

 		.slide{
 			p{ 
 				text-transform: uppercase;
 				font-size: 14px;
 				margin: 2px 0;
 				font-weight: bold;
 				line-height: 18px;

 				.sans-bold{
 					font-family: 'G-Bold';
 				}
 			}
 		}
 	}

 	hr{
		border-bottom: 1px $border-gray solid;
		width: 80%;
		margin: 0px auto;
	}

	.social-all{
		text-align: center;
		width: 100%;
		margin-top: 25px;
		
		span{
			display: inline-block;
			width: 40px;
			text-align: center;
		}
	}

	.legal{
		background-color: rgb(0, 0, 0);
 		background-color: rgba(0, 0, 0, 0.25);
 		width: 100%;
		text-align: center;
		min-height: 300px;
		position: absolute;
		bottom: -400px;
		padding-top: 10px;
		transition: all 0.75s ease;
		cursor: pointer;
		height: 450px;
		font-family: 'G-Bold';

		.legal-copy{
			font-size: 10px;
			font-family: Arial, sans-serif;
			width: 100%;
			padding: 10px;
			text-align: left;
			background-color: $bg-color;
			height: 100%;
		}
	}

 }