/**
 * $ABOUT / SYNOPSIS
 * ==========================================================================
 */

 .section-about{
 	position: absolute;
 	z-index: 10;
 	width: 100%;
 	height: 100%;
 	background: url('../img/sectionbg-synopsis.jpg') no-repeat $bg-color;
 	background-size: 100%;
 	display: none;
 	min-height: 980px;

 	.close-about{
 		position: absolute;
		right: 10px;
		padding: 30px;
 	}

 	.synopsis{
 		font-family: 'G-Book', Arial, sans-serif;
 		color: $copy-dark;
 		background-color: rgba(255, 255, 255, 0.5);
 		height: 330px;
 		position: absolute;
 		bottom: 0px;
 		left: 230px;
 	}

 	.inner-title{
 		display: inline-block;
		vertical-align: top;
		width: 30%;
		max-width: 350px;
 		img{ width: 100%; }
 	}

 	.inner-copy{
 		display: inline-block;
		width: 65%;
		vertical-align: top;
		margin-left: 10px;
		margin-top: 30px;
		height: 80%;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 0 15px;
 	}
 }

 //scroll-bar

#style-8::-webkit-scrollbar-track
{
	border: none;
	background-color: #7f7f7f;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #7f7f7f;
	cursor: pointer;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #111111;	
	cursor: pointer;
}