/**
 * $LANDING
 * ==========================================================================
 */

 .trailer{
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	z-index: 10;

 	#vidFrame{
 		position: relative;
 		z-index: 5;
 	}

 	.close-vid{
 		position: absolute;
 		right: 0px;
		padding: 30px;
		top: 55px;
 		cursor: pointer;
 		z-index: 10;
 		
 	}
 }

.column{
	overflow: hidden;
	cursor: pointer;

	.overlay{
		width: 30%;
		height: 170px;
		position: fixed;
		bottom: -120px;
		//bottom: 0px;
		background-color: $bg-color;
		background-color: rgba(234, 231, 218, 0.5);
		z-index: 5;
		transition: all 0.75s ease;


		.badge, .quote{
			text-align: center;
			margin-top: -80px;
		}

		.quote{
			margin-top: 20px;

			img{
				width: 90%;
				max-width: 255px;
			}
		}
	}
}


.resilience{
	background: url('../img/col-bg-resilience.jpg') no-repeat center top;
}

.survival{
	background: url('../img/col-bg-survival.jpg') no-repeat center top;
}

.redemption{
	background: url('../img/col-bg-redemption.jpg') no-repeat center top;
}

