/**
 * $LANDING
 * ==========================================================================
 * This is a placeholder and example for a view.
 */


.resilience{
	background-image: url('../img/comps/resilience-comp.jpg');
}

.survival{
	background-image: url('../img/comps/survival-comp.jpg');
}

.redemption{
	background-image: url('../img/comps/redemption-comp.jpg');
}

