/**
 * $RESPONSIVE
 * ==========================================================================
 */
.m-nav-box{
	display: none;
}

@include media-query(palm){

	/**NAV & HOME PAGE**/

	//TURN OFF DESKTOP ONLY ELEMENTS
	.social-audio, .trailer, .desktop, .nav-pillar .nav-slider .slide .hashtag{ 
	    display: none; 
	}

	//TURN MOBILE ELEMENTS ON
	.container .mobile{
		display: block;
	}

	.nav-pillar, .content-pillar, .column{
		display: block;
		float: none;
		width: 100%;
		min-width: 640px;
	}

	.nav-pillar{
		min-height: 2250px;
		height: 2427px;

		.logo-lockup{
			margin-bottom: 10px;
		}

		.hamburger, .hamburgerOut{
			padding: 15px;
			float: left;
			position: absolute;
			top: -5px;
		}
	}

	.content-pillar{
		vertical-align: top;
		position: absolute;
		top: 230px;
		height: auto;
		z-index: 50;
	}

	.content-pillar .column{
		float: none;
		min-height: 360px;
		height: 360px;
		background-size: 100% auto;
	
		.overlay{
			position: absolute;
			width: 100%;
			bottom: 0 !important;
			height: 65px;
		}
	}

	.nav-pillar .nav-box{
		margin-bottom: 1080px;
		margin-top: 0px;
	}

	.nav-pillar .nav-box .m-nav{
		display: none;		
	}

	.m-view-trailer{
		background-color: #b79524;
		height: 75px;
		
		a{
			display: block;
			width: 100%;
			height: 100%;
			color: $copy-dark;
			font-size: 22px;
			text-align: center;
			padding-top: 20px;
			vertical-align: middle;
			font-weight: bold;
			letter-spacing: 0.05em;
		}
	}

	.resilience{
		background: url('../img/mobile/home-resilience.jpg') no-repeat center top;
		background-size: auto 100%;

		.overlay .badge{
			position: absolute;
			right: 35px;
			margin-top: -35%
		}
	}

	.survival{
		background: url('../img/mobile/home-survival.jpg') no-repeat center top;
		background-size: auto 100%;

		.overlay .badge{
			position: absolute;
			left: 35px;
			margin-top: -35%
		}
	}

	.redemption{
		background: url('../img/mobile/home-redemption.jpg') no-repeat center top;
		background-size: 100% auto;

		.overlay .badge{
			position: absolute;
			right: 35px;
			margin-top: -35%
		}
	}	

	.overlay .quote{
			p{ 
				margin-top: 12px; 
				font-size: 22px;
			}
		}


		//ROTATORS
		#rotator-award{
			width: 85%;
			height: 165px;

			p{
				font-size: 23px;
				line-height: 32px;
				img{
					margin-top: 10px;
				}
			}
			.award{
				font-size: 48px;
				line-height: 46px;
			}
			.name{
				font-size: 28px;
			}
		}


		#rotator-cta, #rotator-cta-nav{
			display: none !important;
		}

		.nav-pillar .nav-slider .slide p{
			font-size: 26px;
			line-height: 32px;
		}

		.visit-site{
			display: block;
			margin: auto;
			font-family: 'G-Book', Arial, sans-serif;
			width: 329px;
			height: 90px;
			border: 2px white solid;
			background-color: black;
			text-align: center;
			color: white !important;
			vertical-align: center;
			font-size: 30px;
			padding-top: 20px;
			margin: 10px auto;
		}

		.social-all{
			background-color: rgba(0,0,0,0.2);
			position: absolute;
			bottom: 100px;
		}

		.nav-pillar .social-all span{
			width: 12%;
			height: 60px;
			padding: 17px 0;
		}

		.nav-pillar .legal{
			background-color: black;
			min-height: 100px;
			height: 100px;
			bottom: 0;

			.legal-logos{
				width: 99%;
			}
		}

		.nav-pillar .legal .legal-copy{
			border: none;
			background-color: black;
		}

		#get-tickets{
			height: 200px;
		}


		#get-tickets .title{
			display: block;
			font-size: 24px;
		}

		#get-tickets #zipInput{
			height: 82px;
			width: 375px;
			font-size: 26px;
		}

		#get-tickets .fandango-btn, #get-tickets .movietix-btn{
			width: 84px;
			height: 84px;
			background: url('../img/mobile/m-tix-fandango.png') no-repeat transparent top left;
		}

		#get-tickets .movietix-btn{
			background: url('../img/mobile/m-tix-movies.png') no-repeat transparent top left;
		}

		.visit-site a{
			color: white !important;

		}

		.m-nav-box{
			position: fixed;
			z-index: 99999;
			height: 100%;
			top: 0px;
			border: thin red solid;
			width: 80%;
			background-color: #c7c5bb;
			height: 100%;
			display: none;

			ul{
				margin: 0;
			}

			li{
				background-color: #d2d0c5;
				width: 100%;
				height: 97px;
				list-style-type: none;
				padding-top: 30px;
				border-bottom: 5px #c7c5bb solid;
			}

			a{
				color: black;
				letter-spacing: 0.1em;
				font-size: 40px;
				width: 100%;
				display: block;
				height: 100%;
				padding-left: 25px;
			}

			.close-nav{
				text-align: right;
				padding-right: 25px;
				padding-top: 20px;
			}
		}




}