/**
 * $RESPONSIVE
 * ==========================================================================
 */
@include media-query(palm){

	//TURN OFF DESKTOP ONLY ELEMENTS
	.social-audio, .nav-slider, .trailer, .desktop{ 
	    display: none; 
	}

	//TURN MOBILE ELEMENTS ON
	.container .mobile{
		display: block;
	}

	.nav-pillar, .content-pillar, .column{
		display: block;
		float: none;
		width: 100%;
		min-width: 640px;
	}

	.nav-pillar{
		min-height: 2450px;

		.logo-lockup{
			margin-bottom: 10px;
		}

		.hamburger, .hamburgerOut{
			padding: 15px;
			float: left;
			position: absolute;
			top: -5px;
		}
	}

	.content-pillar{
		vertical-align: top;
		position: absolute;
		top: 190px;
		height: 100%;
		z-index: 50;
	}

	.content-pillar .column{
		float: none;
		min-height: 360px;
		height: 360px;
		background-size: 100% auto;
	
		.overlay{
			position: absolute;
			width: 100%;
			bottom: 0 !important;
			height: 65px;
		}
	}

	.nav-pillar .nav-box{
		margin-bottom: 1080px;
		margin-top: 0px;
	}

	.nav-pillar .nav-box .m-nav{
		display: none;		
	}

	.m-view-trailer{
		background-color: #b79524;
		height: 75px;
		

		a{
			display: block;
			width: 100%;
			height: 100%;
			color: $copy-dark;
			font-size: 22px;
			text-align: center;
			padding-top: 20px;
			vertical-align: middle;
			font-weight: bold;
			letter-spacing: 0.05em;
		}
	}




}